@media  screen and (max-width: 992px) {
    .toggle{
        display: block;
        margin-right: 20px;
    }
    .navlinks{
       position: absolute;
       background-color: white;
       left: -100%;
       top: 100%;
       width: 100%;
       padding-block: 20px;
       transition: 0.2s ease-in-out;
    }

    .navlinks.active{
        left: 0;
    }
    
    .mainnav{
        overflow: initial;
    }

    

    .navlinks ul{
        flex-direction: column;
    }
    .examplescard{
        width: calc(50% - 10px);
        background-size: auto;
        background-repeat: no-repeat;
    }
    .examplesarea{
        gap: 20px;
    }
    .card-text{
        font-size: 28px;
    }
    .cta{
        padding-block: 80px;
    }
   .footerji{
    justify-content: space-evenly;
   }
   h4 {
    font-size: 1.5rem;
   }
   h3 {
    font-size: 2rem;
   }
}

@media screen and (max-width: 768px) {
    .headersection{
      flex-direction: column-reverse;  
    }

    .left {
        max-width: 100vw;
        text-align: center;
    }
    .featurearea{
       gap: 72px; 
    }
    
    .featurecard {
        min-width: calc(47% - 5px);
    }

    .featurecard p{
        max-width: 38vw;;
    }
    .primary{
        width: 100%;
    }
    .godaddy{
        gap: 30px;
    }
    .featurebig, #secondbigfeature {
        flex-direction: column;
    }

    .footerji{
        flex-direction: column;
        gap: 30px;
        align-items: center;
       }

    .link-column{
        align-items: center;
    }

    .card-text{
        font-size: 25px;
    }

    .rightfeature{
        max-width: 83%;
        align-items: center;
    }

    .rightfeature p{
        text-align: center;
    }
}

@media screen and (max-width: 479px) {
    h1 {
        font-size: 2rem;
    }
    
    h2 {
        font-size: 1.5rem;
    }
    .featurecard {
        min-width: 100%;
    }

    .examplescard{
        width: 100%;
    }

    .paragraph{
        width: 415px;
    }
}